.app__search {
  margin: 0rem auto;
  padding: 10rem;

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .app_finally {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .app__search {
    height: 100%;
    width: 100%;
    padding: 20rem 0rem 3.4rem;
  }
  .app__small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 20px;
    margin-bottom: 76px;
  }
}

.app_finally {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.67);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  /* width: 750px; */
  height: 100%;
}
.app__final-image {
  border-radius: 15px;
}
.app__fin-cont {
  text-align: center;
  margin: 2rem;
  color: white;
}
.app__fin-cont h2 {
  margin-bottom: 5rem;
  margin-top: 0;
  font-weight: bold;
  color: #00ffff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #00ffff;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.app__error {
  margin-top: 5rem;
  text-align: center;
  color: #00ffff;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
